<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.edsnowden.guidemanasikumrah">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".PanduanUmrah"
            android:label="@string/panduan_umrah"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Informasi"
            android:label="@string/informasi"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".PaketUmrah"
            android:label="@string/paket_umrah"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".Cabang"
            android:label="@string/cabang_piuh"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".JadwalKeberangkatan"
            android:label="@string/jadwal"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DoaManasik"
            android:label="@string/doa_manasik"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.edsnowden.guidemanasikumrah.MainActivity" />
        </activity>
    </application>

</manifest>